# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "143a6479b8ec1eb59ee62d8be301cbdb"
name = "product-tagger"
application_url = "https://glebeless-emmalyn-supermentally.ngrok-free.dev"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products"

[auth]
redirect_urls = [ "https://glebeless-emmalyn-supermentally.ngrok-free.dev/auth/admin/oauth/callback" ]
